body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  
}
.background-container {
  background: url('Content/backround.jpg') repeat-x;
  animation: scrollBackground 200s linear infinite;
  height: 100vh;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
a {
  color: #666;
}

a:hover {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  color: #333;
}

h4, h5, h6 {
  color: #666;
}

button.home-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #888;
}

button.home-button:hover {
  background-color: #777;
  box-shadow: 0 0 15px #888;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1, p {
  text-align: center;
}

.content button {
  display: block;
  margin-top: 20px;
}

input, select, textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #ccc;
  background-color: #fff;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px #888;
}
